:root{
  --primary-color:#f3c622;
  --secondary-color: #23212c;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  
}
iframe, .map2 {
  width: 600px;
  height: 600px;
}

.mapstats {
  display: flex;
  align-content: center;
  padding: 0.4rem;
  margin: 0.rem;
   font-size: larger; 
  text-align: center;
  justify-content:space-between;
  background-color: var(--primary-color)
}

.textField {
  width: 25%;
  padding: 0.25rem;
  box-sizing: border-box;
  font-size: larger;
  background-color: var(--primary-color)
}

.marker label {
    bottom: 6px;
    left: 0;
    position: relative;
    background-color: white;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  
}

label, h3 {
  /* display: block; */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: large;
  font-weight: bolder;
}

input {
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
  font-size: larger;
}

.form-data {
  display: flex;
  justify-content:space-around;
  width: 100%;
  background-color:var(--primary-color);
  
}


.coordinates{
  display: flex;
  justify-content:center;
  flex-direction:column;
  
  

}

.btn{
  background-color: var(--primary-color);
  font-weight:bold;
  width: 5%;
}